/* style.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100vw;
    position: fixed;
}

.containerss {
    display: flex;
    width: 100vw;
    margin-right: auto;
    padding-left: 0px;
}



.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
    padding-top: 150px;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

.main-content {
    flex: 1;
    padding: 20px;
    padding-top: 150px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table {
    width: 100%; /* Set table width to 100% of its container */
    max-width: 100%; /* Ensure table doesn't exceed its container's width */
    font-size: 14px; /* Adjust the font size */
    border-spacing: 0;
}

/* Optional: Adjust table cell padding */
td, th {
    padding: 8px; /* Adjust cell padding */
}